<?php

/**
 * Adapted from config file distributed on php-cs-fixer vendor.
 */
return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => array('syntax' => 'long'),
        'combine_consecutive_unsets' => true,
        'heredoc_to_nowdoc' => true,
        'no_extra_consecutive_blank_lines' => array(
            'break', 'continue', 'extra', 'return', 'throw', 'use',
            'parenthesis_brace_block', 'square_brace_block', 'curly_brace_block',
        ),
        'no_unreachable_default_argument_value' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_class_elements' => true,
        'ordered_imports' => true,
        'phpdoc_add_missing_param_annotation' => true,
        'phpdoc_order' => true,
        'psr4' => true,
    ))
    ->setRiskyAllowed(true)
    ->setUsingCache(false)
    // If we want to use cache for performance purposes, for now it's disabled
    ->setCacheFile('app/cache/.php_cs.cache')
;
